<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Dentasy</title>
    <link rel="stylesheet" href="/View/servicios/style.css">
</head>

<body>
    <header class="header">
        <div class="container">
        <img class="logo" src="/View/Crud/img/logoDentasy-2.png" alt="">
        <nav class="navbar">
            <ul>
                <li><a href="/View/Inicio/index.html">Inicio</a></li>
                <li><a href="/View/servicios/index.html">Servicios</a></li>
                <li><a href="/View/login/index.html">Administración</a></li>
            </ul>
        </nav>
        

        </div>
    </header>
    <div class="header-txt">
        <h1>Servicios al Paciente</h1>
        <p>🤗 Ofrecemos los siguientes servicios en la clinica DENTASY 😁
        🦷 Exámenes y diagnósticos dentales: Revisión general de la salud bucal para detectar caries, enfermedades de las encías u otros problemas. 🦷 Limpieza dental profesional: Eliminación de placa, sarro y manchas superficiales en los dientes. 🦷 Empastes dentales: Restauración de dientes dañados por caries o fracturas.🦷 Endodoncia (Tratamiento de conducto): Tratamiento de infecciones o daño en la pulpa dental.🦷 Extracciones dentales: Remoción de dientes dañados, infectados o que no tienen espacio en la boca.🦷 Blanqueamiento dental: Tratamientos estéticos para aclarar el color de los dientes.🦷 Radiografías dentales: Imágenes para diagnosticar problemas debajo de las encías o en la estructura ósea.
        </p>
    </div>
    <main class="product container">
        <div class="box-container" id="lista-1">

            <div class="box">
                <img src="/View/Crud/img/blanqueadores.png" alt="">
                <div class="product-txt">
                    <h3>Blanqueadores dentales</h3>
                    <p class="precio">Kits de blanqueamiento casero o productos de uso en consultorio.</p>
                    <a href="##" class="agregar-carrito btn-3 " data-id="1">$40</a>

                </div>
            </div>

            <div class="box">
                <img src="/View/Crud/img/sellantes-dental.png" alt="">
                <div class="product-txt">
                    <h3>Sellantes dentales</h3>
                    <p class="precio">Productos que los dentistas aplican para proteger los molares contra las caries.</p>
                    <a href="##" class="agregar-carrito btn-3 " data-id="1">$75</a>

                </div>
            </div>
            <div class="box">
                <img src="/View/Crud/img/barniz.png" alt="">
                <div class="product-txt">
                    <h3>Flúor en gel o barniz</h3>
                    <p class="precio">Productos aplicados para fortalecer los dientes y prevenir la caries.</p>
                    <a href="##" class="agregar-carrito btn-3 " data-id="1">$80</a>

                </div>
            </div>
            <div class="box">
                <img src="/View/Crud/img/braquetz.png" alt="">
                <div class="product-txt">
                    <h3>Brackets y accesorios de ortodoncia</h3>
                    <p class="precio">Brackets metálicos, cerámicos, alineadores transparentes (como Invisalign), ligaduras y elásticos.</p>
                    <a href="##" class="agregar-carrito btn-3 " data-id="1">$300</a>

                </div>
            </div>
            <div class="box">
                <img src="/View/Crud/img/protesis-dental.png" alt="">
                <div class="product-txt">
                    <h3>Prótesis dentales</h3>
                    <p class="precio">Dentaduras postizas completas o parciales, y productos para su cuidado como adhesivos y limpiadores.</p>
                    <a href="##" class="agregar-carrito btn-3 " data-id="1">$450</a>

                </div>
            </div>
            <div class="box">
                <img src="/View/Crud/img/irrigadores bucales.png" alt="">
                <div class="product-txt">
                    <h3>Irrigadores bucales</h3>
                    <p class="precio">Dispositivos que limpian con un chorro de agua a presión las zonas entre los dientes y las encías.</p>
                    <a href="##" class="agregar-carrito btn-3 " data-id="1">$159</a>

                </div>
            </div>
            


        </div>
        
        <img class="diente" src="/View/Crud/img/dientesito.png" alt="">
    </main>
    <footer class="footer">
        <div class="footer-content conatiner">
            <div class="link">
                <h3> Información de Contacto</h3>
                <ul>
                    <li><a href="">Dirección: Miraflores Barranco, Lima, Perú</a></li>
                    <li><a href="">Teléfono: +51 902 567 890</a></li>
                    <li><a href="">Correo Electrónico: Dentasy@gmail.com</a></li>

                </ul>
            </div>

            <div class="link">
                <h3>Horarios de Atención</h3>
                <ul>
                    <li><a href="">Lunes a Viernes: 8:00 AM - 8:00 PM</a></li>
                    <li><a href="">Sábado: 9:00 AM - 6:00 PM</a></li>
                    <li><a href="">Domingo: 10:00 AM - 4:00 PM</a></li>

                </ul>
            </div>

            <div class="link">
                <h3>Redes Sociales</h3>
                <ul>
                    <li><a href=""><i class="bi bi-facebook"> Facebook</i></a></li>
                    <li><a href=""><i class="bi bi-instagram"> Instagram</i></a></li>
                    <li><a href=""><i class="bi bi-whatsapp"> Whatsapp</i></a></li>
                    <li><a href=""><i class="bi bi-Twitter"> Twitter</i></a></li>

                </ul>
            </div>

            <div class="link">
                <h3>Políticas y Términos</h3>
                <ul>
                    <li><a href="">Política de Privacidad</a></li>
                    <li><a href="">Términos y Condiciones</a></li>
                    <li><a href="">Política de Devoluciones</a></li>

                </ul>
            </div>

        </div>

    </footer>
</body>

</html>