<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dentasy</title>
    <link rel="stylesheet" href="/View/Inicio/style.css">
</head>

<body>
    <header>
        <div class="socials">
            <a href="https://www.facebook.com/">
                <div class="social">
                    <img src="/View/Crud/img/Facebook.svg" alt="">
                </div>
            </a>
            <a href="https://www.tiktok.com/login?lang=es&redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fupload%3Flang%3Des">
                <div class="social">
                    <img src="/View/Crud/img/tiktok.svg" alt="">
                </div>
            </a>

            <a href="https://www.instagram.com/">
                <div class="social">
                    <img src="/View/Crud/img/Instagram.svg" alt="">
                </div>
            </a>

        </div>
    </header>
    <img class="logoDentasy" src="/View/Crud/img/logoDentasy-2.png" alt="">
    <div class="doctora">
        <img src="/View/Crud/img/doc.png" alt="">
    </div>
    <div class="container ">
        <h1 class="lema">Mejores tratamientos en Odontológia Dentasy</h1>
        <p>La clave de una sonrisa perfecta está en nuestro cuidado</p>
    </div>
    <div class="botones">
        <a href="/View/servicios/index.html" class="btn-1">Ingresar </a>
    </div>
    <footer></footer>
   
</body>

</html>